main {
  display: flex;
  flex-direction: column;
  position: relative;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  background-color: rgb(130, 130, 130);
}


header {
  background-color: #24252A;
  color: #ffffff;
  padding: 2%;
  text-align: center;
  margin: -1%;
}

main {
  margin: 2%;
}

.kopje {
  font-size: 1.5em;
}

#vraag {
  font-size: 2.4rem;
}

#kluis {
  width: 65%;
}

.input-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
  margin-top: -10%;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.hart {
  width: 75px;
}

.weghart {
  display: none
}

.alleHarten {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 40px;
  right: 2%;
}

#check {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-95%, -140%);
  font-size: 5rem;
}

.wegScherm {
  display: none;
}

#politie {
  width: 65%;
}

#geld {
  width: 10%;
}
.winner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.winner p {
  text-align: center;
}
.verborgen {
  display: none;
}

